.profile {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 30px;

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
