.profile {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 30px;
  padding: 20px;
  color: var(--almost-black);
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px var(--soft-blue-shadow);
  animation: fade-in 500ms ease-in-out;

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
