@use '../../animations';

.profile {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 30px;
  padding: 20px;
  color: var(--almost-black);
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px var(--soft-blue-shadow);
  @include animations.fade-in;

  h2 {
    font-size: 2rem;
    font-weight: normal;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
