.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--soft-blue-shadow);

  p {
    font-size: 1.25rem;
  }

  button {
    font-size: 1.25rem;
    color: var(--warning);
    background-color: transparent;
    padding: 5px 15px;
  }
}
