//! This is all just temporary... feel free to alter

.profile-field {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'label label'
    'content btn';
  align-items: center;

  label {
    grid-area: label;
    text-transform: capitalize;
  }

  input,
  p {
    grid-area: content;
    font-size: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
  }

  input {
    border-color: grey;
  }

  button {
    grid-area: btn;
  }
}
