//! This is all just temporary... feel free to alter

.profile-field {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'label label'
    'content btn';
  align-items: center;

  label {
    grid-area: label;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: var(--soft-blue);
  }

  input,
  p {
    grid-area: content;
    font-size: 1.25rem;
    padding: 10px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    color: var(--almost-black);
  }

  input {
    border-color: grey;
    outline-color: var(--soft-blue);
  }

  button {
    grid-area: btn;
    font-size: 0.75rem;
    background-color: #fff;
    border: 1px solid rgb(218, 218, 218);
  }
}
