@use '../../styles/animations';

.register-form {
  height: 100%;
  display: grid;
  grid-template: min-content auto / minmax(auto, 400px);
  align-items: start;
  justify-content: center;
  padding: 20px;
  padding-top: 5vh;
  gap: 20px;
  @include animations.fade-in;

  h2 {
    font-weight: normal;
  }
}
