.register-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  animation: fade-in 150ms ease-in-out;

  h2 {
    font-weight: normal;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
