.nav {
  position: relative;

  svg {
    font-size: 40px;
  }

  ul {
    position: absolute;
    top: 120%;
    right: 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1px;

    li {
      font-size: 20px;
      background-color: #000000b0;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
  }
}
